body {
    font-family: Arial, sans-serif;
    background-color: #272640;
}

#header-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background-color: #006466;
    padding: 0 1% 0 2%;
    color: white;
}

.body-header{
    display: flex;
    align-items: center;
}

.all-card-container{
    margin-top: 3%;
    margin-bottom: 3%;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.card {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border: 1px solid #006466;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.5s;
}

.card:hover{
    border: 1px solid white;
    transform: scale(1.05);
}

.card:active{
    transform: scale(0.85);
}

.card svg{
  fill: black;
  width: 40px;
}

.toggle-container{
    display: flex;
    justify-content: center;
    margin-top: -2%;
}

.container-lowerthird {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.column {
    width: 48%;
    background: #4D194D;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container{
  display: flex;
  justify-content: center;
}
.container-item{
    margin: 20px;
}
.item-streamdeck {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
  color: white;
}

.checkbox-apple {
  position: relative;
  width: 50px;
  height: 25px;
  margin-left: 10px;
}

.checkbox-apple label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox-apple label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.checkbox-apple input[type="checkbox"]:checked + label {
  background: linear-gradient(to bottom, #4cd964, #5de24e);
}

.checkbox-apple input[type="checkbox"]:checked + label:after {
  transform: translateX(25px);
}

.checkbox-apple label:hover {
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
}

.checkbox-apple label:hover:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.yep {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  opacity: 0;
}

/* Modal */
.modal {
    z-index: 9999;
    --bs-modal-bg: 0;
}
.modal-dialog{
  max-width: 400px;
  margin: 0.5rem auto;
}
.modal-content{
  border-radius: 2rem;
}
.modal-header{
    background-color: #272640;
    color: white;
    border-bottom: 0;
    border-top-left-radius: 1.0rem;
    border-top-right-radius: 1.0rem;
    padding: 1rem 1rem 0.5rem 1rem;
}
.modal-body{
    background-color: #272640;
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0 1rem 1rem 1rem;
}
.container-shortcutModal{
    display: flex;
    justify-content: space-between;
}
.name-shortcut{
  padding: 7px;
}
.shortcut-input {
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    background-color: #272640;
    color: white;
    cursor: pointer;
}
#shortcutSelectionModal{
  background-color: rgba(0, 0, 0, 0.7);
}
#shortcutOptions{
  text-align: center;
}
.shortcutOption{
  width: 150px;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  background-color: #272640;
  color: white;
}
.btn-close{
  filter: invert(1) grayscale(100%) brightness(200%);
}
.container-title{
  display: flex;
  justify-content: center;
}
#loginModal {
  background-color: rgba(0, 0, 0, 0.8);
}

/* setting button */
.btn-setting{
    border-radius: 50%;
    border: none;
    display: flex;
    place-items: center;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.btn-setting > .icon-setting {
  border-radius: inherit;
  padding: 0.5rem;
  fill: #fff;
 /* .icon-setting color */
  width: 36px;
 /* default width 32px */
  height: 36px;
 /* default height 32px */
}

.btn-setting > .icon-setting:active {
  background-color: rgba(65, 65, 65, 0.5);
}

.btn-setting > .icon-setting:not(:active) {
  animation: fadeOut 0.9s;
}

@keyframes fadeOut {
  0% {
    outline: 1px solid rgba(90, 90, 90, 0.5);
 /* If you use border it will take space inside and slightly move the SVG */
  }

  100% {
    background-color: transparent;
  }
}

/* lower third setting */
.item {
  display: flex;
  margin-bottom: -10px;
  justify-content: center;
  color: white;
}

/* input */
.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
  margin-left: -7px;
}

.coolinput label.text {
  font-size: 1rem;
  color: #0AEFFF;
  font-weight: 700;
  position: relative;
  top: 0.75rem;
  margin: 0 0 0 15px;
  padding: 0 3px;
  background: #4D194D;
  width: fit-content;
}

.coolinput input[type=text].input {
  padding: 6px 10px;
  font-size: 0.75rem;
  border: 2px #0AEFFF solid;
  border-radius: 0.75rem;
  background: #4D194D;
  color: white;
  width: 150px;
}

.coolinput input[type=text].input:focus {
  outline: none;
}

/* checkbox */
.checkbox {
  --border-default: #bbbbc1;
  --border-hover: #9898a3;
  --active: #6E7BF2;
  --active-tick: #ffffff;
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  margin: 27px 0 0 7px;
}

.checkbox svg {
  display: block;
  position: absolute;
}

.checkbox input {
  display: block;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 36%/36%;
  box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
  background: var(--background, transparent);
  transition: background 0.25s linear, box-shadow 0.25s linear;
}

.checkbox input + svg {
  width: 21px;
  height: 18px;
  left: 0;
  top: 0;
  color: var(--active);
}

.checkbox input + svg .tick {
  stroke-dasharray: 20;
  stroke-dashoffset: var(--stroke-dashoffset, 20);
  transition: stroke-dashoffset 0.2s;
}

.checkbox input + svg .tick.mask {
  stroke: var(--active-tick);
}

.checkbox input + svg + svg {
  width: 11px;
  height: 11px;
  fill: none;
  stroke: var(--active);
  stroke-width: 1.25;
  stroke-linecap: round;
  top: -6px;
  right: -10px;
  stroke-dasharray: 4.5px;
  stroke-dashoffset: 13.5px;
  pointer-events: none;
  -webkit-animation: var(--animation, none) 0.2s ease 0.175s;
  animation: var(--animation, none) 0.2s ease 0.175s;
}

.checkbox input:checked {
  --background: var(--active);
  --border: var(--active);
}

.checkbox input:checked + svg {
  --stroke-dashoffset: 0;
}

.checkbox input:checked + svg + svg {
  --animation: check95;
}

.checkbox:hover input:not(:checked) {
  --border: var(--border-hover);
}

@keyframes check95 {
  100% {
    stroke-dashoffset: 4.5px;
  }
}

/* login modal */
.input-login {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  background-color: #201F35;
  box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 0 0 1px transparent;
  border: none;
  outline: none;
  padding: 0.375rem 0.75rem;
  width: 100%;
  transition: .4s;
  border-radius: 1rem;
}

.input-login:hover {
  box-shadow: 0 0 0 2px rgba(135, 207, 235, 0.186);
}

.input-login:focus {
  box-shadow: 0 0 0 2px skyblue;
}

/*------ Settings ------*/
.container {
  --color: #a5a5b0;
  --size: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  right: -42%;
  top: 52%;
}

.container .eye {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container .eye-slash {
  position: absolute;
  animation: keyframes-fill .5s;
  display: none;
}

/* ------ On check event ------ */
.container input:checked ~ .eye {
  display: none;
}

.container input:checked ~ .eye-slash {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}

/* Hide the default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: none;
  color: white;
}

.container-check {
  --size: 24px; /* Adjusted size for better alignment */
  width: var(--size);
  height: var(--size);
  background-color: #191A1E;
  border-radius: 100%;
  cursor: pointer;
  padding: 5px;
  color: white;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-check .checkmark {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-check .checkmark svg {
  opacity: 0;
  transition: all ease 0.3s;
}

.container-check input:checked + .checkmark {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.container-check input:checked + .checkmark svg {
  opacity: 1;
}

.form-check{
  padding-left: 0.5rem;
}